// Theme

// Variables

@desktop-large: ~"only screen and (max-width: 1550px)";
@desktop-medium: ~"only screen and (max-width: 1024px)";
@tablet-to-desktop: ~"only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)";
@tablet-to-desktop-small: ~"only screen and (max-width: 920px) and (min-width: 769px)";
@mobile-small-to-mobile: ~"only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape)";
@mobile-small-to-mobile-portrait: ~"only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)";
@desktop-medium: ~"only screen and (max-width: 1024px)";
@tablet-large: ~"only screen and (max-width: 850px)";
@tablet-small: ~"only screen and (max-width: 600px)";
@mobile-small: ~"only screen and (max-width: 380px)";

// Colour Variables

@bg-color: @color__body--background;
@color__primary: @color__secondary;
@button-color: @color__button--background;
@spare-color: @color-swatch7;

// Font Mixins

.make-font-a-little-smaller(@font-size, @font-size-important: ~"", @size-mobile: 0.95) when (@font-size >= 13px) {
	@media @mobile {
		font-size: @font-size*@size-mobile @font-size-important;
	}
}

.make-font-smaller(@font-size, @font-size-important: ~"", @size-mobile: 0.9) when (@font-size >= 15px) {
	@media @mobile {
		font-size: @font-size*@size-mobile @font-size-important;
	}
}

.make-font-a-lot-smaller(@font-size, @font-size-important: ~"", @size-tablet: 0.9, @size-mobile: 0.8) when (@font-size >= 17px) {
	@media @tablet {
		font-size: @font-size*@size-tablet @font-size-important;
	}
	@media @mobile {
		font-size: @font-size*@size-mobile @font-size-important;
	}
}

.make-line-height-a-little-smaller(@line-height-size, @font-size-important: ~"", @size-mobile: 0.95) when (@line-height-size >= 13px) {
	@media @mobile {
		line-height: @line-height-size*@size-mobile @font-size-important;
	}
}

.make-line-height-smaller(@line-height-size, @font-size-important: ~"", @size-mobile: 0.9) when (@line-height-size >= 15px) {
	@media @mobile {
		line-height: @line-height-size*@size-mobile @font-size-important;
	}
}

.make-line-height-a-lot-smaller(@line-height-size, @font-size-important: ~"", @size-tablet: 0.9, @size-mobile: 0.8) {
	@media @tablet {
		line-height: @line-height-size*@size-tablet @font-size-important;
	}

	@media @mobile {
		line-height: @line-height-size*@size-mobile @font-size-important;
	}
}

// Main

body {
	position: relative;
	font-smooth: always;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
	letter-spacing: .04em;
}

// Tyopgraphy

h1, .contentgroup__h1,
h2, .contentgroup__h2,
h3, .contentgroup__h3,
h4, .contentgroup__h4,
h5, .contentgroup__h5,
h6, .contentgroup__h6 {
	padding-bottom: 7px;
    word-break: break-word;

	.style--accent & {
	    color: @contrast--accent;
	}

	.style--dark & {
	    color: @contrast--dark;
	}
}

// Normal Text

.widget .content,
.widget .content.in-editing,
.widget .embed .embed-content {
	font-size: @font__p--font-size !important;
	line-height: @font__p--font-size !important;

	.make-font-a-little-smaller(@font__p--font-size, ~"!important");
	.make-font-smaller(@font__p--font-size, ~"!important");
	.make-font-a-lot-smaller(@font__p--font-size, ~"!important");
	
	.make-line-height-a-little-smaller(@font__p--line-height, ~"!important");
	.make-line-height-smaller(@font__p--line-height, ~"!important");
	.make-line-height-a-lot-smaller(@font__p--line-height, ~"!important");

	&, p, span, small, pre, code,
	table, th, td {
		color: @color__p--text;
	
		.style--light & {
			color: @color__p--text;
		}
	
		.style--accent & {
			color: @contrast--accent;
		}
	
		.style--dark & {
			color: @contrast--dark;
		}
	}
}

p, 
ul, 
li, 
ol, 
code, 
pre, 
label,
.label,
blockquote,
.contentgroup__body {
	color: fade(@color__p--text, 80%);
	list-style: none;
    word-break: break-word;

	.style--light & {
	    color: fade(@color__p--text, 80%);
	}

	.style--accent & {
	    color: fade(@contrast--accent, 80%);
	}

	.style--dark & {
	    color: fade(@contrast--dark, 80%);
	}
}

p {
	padding-bottom: 7px;
}

ul,
ol {
	padding: 0 0 .5em 2em;
}

.content .bk-content-text ol {
	list-style-position: inherit;
}

a {
	letter-spacing: 1px;
	color: @color__link--text;

	.style--light & {
	    color: @color__link--text;
	}

	.style--accent & {
	    color: @contrast--accent;
	}

	.style--dark & {
	    color: @color--accent;
	}

	&:hover {
		font-weight: 700;
		letter-spacing: 0.615px;
		.transition (all, 0.1s, ease);
		text-decoration: none;
	}
}

// Preformatted and Code Text

pre, code {
	display: block;
	margin: 1em 0;
	padding: 0.5em 1em;
	border: none;
	.border-radius(0);
	background-color: darken(@color__container--background, 10%);
	overflow: auto;
	font-family: monospace;
	font-size: 1em;

	.style--light & {
		background-color: darken(@color__container--background, 10%);
	}

	.style--accent & {
		background-color: fade(@contrast--accent, 10%);
	}

	.style--dark & {
		background-color: fade(@contrast--dark, 10%);
	}
}

code {
	border-left: 1px solid @color__p--text;

	.style--light & {
		border-color: @color__p--text;
	}

	.style--accent & {
		border-color: @contrast--accent;
	}

	.style--dark & {
		border-color: @contrast--dark;
	}
}

// Blockquote

blockquote {
	padding: 30px;
	word-break: break-word;

	&:before {
		content: open-quote !important;
		left: -10px !important;
		position: relative !important;
		font-family: Georgia, serif !important;
		font-size: 3.05em !important;
		top: 20px !important;
	}
}

// Unordered and Ordered List

ul, ol {
    margin: 0;
	padding: 0;
}

.widget .content,
.blogpost__post-body,
.ecomproduct__product-body {
	ul {
		margin: 0.5em 0 0.5em 2em;
		padding-left: 0;
		list-style: none;
	
		li {
			position: relative;
			padding: 0;
			margin: 0 0 0.25em 0;
	
			&:before {
				position: absolute;
				content: "\2013";
				left: -2em;
			}
		}
	}
	
	ol {
		margin: 0.5em 0;
		padding-left: 0;
		counter-reset: ordered-counter;
	
		li {
			position: relative;
			padding-left: 2em;
			margin: 0 0 0.25em 0;
			list-style-type: none;
	
			// Custom Numbers
	
			&:before {
				min-width: 2em;
				padding: 0 0.4em 0 0;
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				.box-sizing(border-box);
				content: counter(ordered-counter) ".";
				counter-increment: ordered-counter;
				text-align: left;
			}
		}
	}
}

// Legend

legend {
	text-transform: uppercase;
	font-weight: 700;
	color: @color__p--text;

	.style--light & {
	    color: @color__p--text;
	}

	.style--accent & {
	    color: @contrast--accent;
	}

	.style--dark & {
	    color: @contrast--dark;
	}
}

// TABLE

table {
	overflow: auto;
	width: 100%;
	max-width: 100%;
	border: none;
	border-collapse: separate;
	border-spacing: 0;
	border-top: 1px solid @color__p--text;
	margin: 0;
	hyphens: auto;
	color: @color__p--text;

	.style--light & {
		border-top-color: @color__p--text;
		color: @color__p--text;
	}

	.style--accent & {
		border-top-color: @contrast--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		border-top-color: @contrast--dark;
		color: @contrast--dark;
	}
}

// Table Cell

td, th {
	border: none;
	background-color: transparent;
}

th {
	padding: 0.5em;
	border-bottom: 1px solid @color__p--text;
	text-align: left;
	font-family: @font__h4--font-family;
	font-weight: @font__h4--font-weight;
	font-size: @font__h4--font-size;
	line-height: @font__h4--line-height;
	letter-spacing: @font__p--letter-spacing;
	color: @color__h4--text;

	.style--light & {
		border-bottom-color: @color__p--text;
		color: @color__h4--text;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
		color: @contrast--dark;
	}
	
	@media @mobile {
		display: none;
	}
	
	.responsivecolumns & {
		display: none;
	}
}

td {
	border-bottom: 1px solid fade(@color__p--text, 60%);
	padding: 1em 0.5em;
	font-family: @font__p--font-family;
	font-weight: @font__p--font-weight;
	font-size: @font__p--font-size;
	line-height: @font__p--line-height;
	letter-spacing: @font__p--letter-spacing;

	.style--light & {
		border-bottom-color: fade(@color__p--text, 60%);
	}

	.style--accent & {
		border-bottom-color: fade(@contrast--accent, 60%);
	}

	.style--dark & {
		border-bottom-color: fade(@contrast--dark, 60%);
	}
	
	@media @mobile {
		display: block;
		padding: 0 0.5em;
		border-bottom: none;
	}
	
	.responsivecolumns & {
		display: block;
		padding: 0 0.5em;
		border-bottom: none;
	}
	
	&:first-child {
		@media @mobile {
			padding: 1em 0.5em 0;
		}

		.responsivecolumns & {
			padding: 1em 0.5em 0;
		}
	}
	
	&:last-child {
		@media @mobile {
			padding: 0 0.5em 1em;
			border-bottom: 1px solid fade(@color__p--text, 60%);

			.style--light & {
				border-bottom-color: fade(@color__p--text, 60%);
			}
		
			.style--accent & {
				border-bottom-color: fade(@contrast--accent, 60%);
			}
		
			.style--dark & {
				border-bottom-color: fade(@contrast--dark, 60%);
			}
		}

		.responsivecolumns & {
			padding: 0 0.5em 1em;
			border-bottom: 1px solid fade(@color__p--text, 60%);

			.style--light & {
				border-bottom-color: fade(@color__p--text, 60%);
			}
		
			.style--accent & {
				border-bottom-color: fade(@contrast--accent, 60%);
			}
		
			.style--dark & {
				border-bottom-color: fade(@contrast--dark, 60%);
			}
		}
	}
}

tr:last-child td {
	border-bottom: 1px solid @color__p--text;

	.style--light & {
		border-bottom-color: @color__p--text;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
	}
	
	@media @mobile {
		border-bottom: none;
	}
	
	.responsivecolumns & {
		border-bottom: none;
	}
	
	&:last-child {
		@media @mobile {
			border-bottom: 1px solid @color__p--text;

			.style--light & {
				border-bottom-color: @color__p--text;
			}
		
			.style--accent & {
				border-bottom-color: @contrast--accent;
			}
		
			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}

		.responsivecolumns & {
			border-bottom: 1px solid @color__p--text;

			.style--light & {
				border-bottom-color: @color__p--text;
			}
		
			.style--accent & {
				border-bottom-color: @contrast--accent;
			}
		
			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}
	}
}

// Custom Page

body.edit .widget.navigation,
body.edit .widget.extendednavigation {
	overflow: visible;
}

// Default Page Style

.bk-pt-default .bk-header {
	border-bottom: 1px solid @color__primary;
}

// Header & Navigation

.bk-header {
	padding: 50px 0px;
	text-align: center;
	background-color: @color__header--background;

	@media @mobile {
		padding: 20px 0;
	}

	@media @tablet {
		padding: 30px 0;
	}
}

// Footer

.bk-footer {
	border-top: 1px solid @color__footer--border;
	background-color: @color__footer--background;
	padding: 30px 0;

	.widget__profile {
		label {
			display: none;
		}

        form fieldset input {
            width: 100%;
        }

        form button {
            word-break: break-word;
            height: auto;
            width: auto;
            margin: 10px 0;
            line-height: 1.25em;
        }
	}

	@media @mobile {
		padding: 0px;
	}
}

.footerright,
.footerleft {
	display: inline-block;
	vertical-align: middle;
	width: 49.5%;

	@media @mobile {
		width: 100%;
		text-align: center !important;
	}
}

.footerright {
	text-align: right;
}

.bk-footer h1,
.bk-footer h2,
.bk-footer h3,
.bk-footer h4 {
	color: @color__navigation--text;
	padding-bottom: 1em;
}

// Content

.widget__content {
	padding: 0;
	overflow: hidden;
}

span.expand.button.button--expand {
	font-family: @font__button--font-family;
	margin: 10px 0;
	cursor: pointer;
	display: inline-block;
	letter-spacing: .1em;
	text-transform: uppercase;
	background-color: transparent!important;
}

.expand .more,
.expand .less {
	font-family: @font-swatch4-font-family;
	font-size: 12px;
	color: @color__link--text;
	text-transform: uppercase;
	text-decoration: none;
	padding: 12px;
	border-bottom: 1px solid @color__link--text;
	letter-spacing: 1px;

	.style--light & {
		color: @color__link--text;
		border-color: @color__link--text;
	}

	.style--accent & {
		color: @contrast--accent;
		border-color: @contrast--accent;
	}

	.style--dark & {
		color: @contrast--dark;
		border-color: @contrast--dark;
	}

	&:hover {
		letter-spacing: 1px!important;
		border-bottom: 2px solid @color__link--text;
		cursor: pointer;
		background-color: transparent;
		.transition (all, 0.2s, ease);
	}
}

// General Forms

.form-group,
.form-group .advancedcontactform {
	box-sizing: border-box;
	padding: 0 0.75rem;
	width: 100%;
	position: relative;
	margin-top: 1rem;
}

label, .label {
	font-size: @font__p--font-size !important;
    letter-spacing: @font__p--letter-spacing !important;
	word-break: break-word;
}

.form-text--spacing() when not (@color__form--background = @color__container--background) {
	padding: 0.6em 1em;
}

input,
input[type=search],
input[type=text],
input[type=email],
input[type="password"],
.contactform__input,
.signupform__input,
.blogsearch__input,
textarea,
select,
input#search-term {
	background-color: fade(@color__form--background, 10%);
	border: none;
	border-bottom: 1px solid @color__form--border;
	height: 3rem;
	font-size: 1rem;
	padding: 0 0.5em;
	box-shadow: none;
	transition: all 0.3s;
	.form-text--spacing();
	color: @color__p--text;

	.style--light & {
		background-color: fade(@color__form--background, 10%);
		border-color: @color__form--border;
		color: @color__p--text;
	}

	.style--accent & {
		background-color: fade(@contrast--accent, 10%);
		border-color: @contrast--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		background-color: fade(@contrast--dark, 10%);
		border-color: @contrast--dark;
		color: @contrast--dark;
	}
	
	&:focus {
		border-bottom-width: 2px;
		box-shadow: none;
		background-color: fade(@color__form--background, 20%);

		.style--light & {
			border-color: fade(@color__form--background, 20%);
		}
	
		.style--accent & {
			border-color: fade(@contrast--accent, 20%);
		}
	
		.style--dark & {
			border-color: fade(@contrast--dark, 20%);
		}
	}

	.style--background-image & {
		background-color: transparent;
		border-color: @contrast--dark;
		color: @contrast--dark;
	}
}

textarea {
	resize: vertical;
	min-height: 150px;
	margin-bottom: 20px;
	width: 100%;
	padding: 0.5em;
	border: 1px solid @color__form--border;

	.style--light & {
		border-color: @color__form--border;
	}

	.style--accent & {
		border-color: @contrast--accent;
	}

	.style--dark & {
		border-color: @contrast--dark;
	}
}

input,
input[type=search],
input[type=text],
input[type=email],
.contactform__input,
.signupform__input,
.blogsearch__input {
	width: 100%;
	min-height: 38px;
}

input.js-email.email {
	width: 100%;
}

.contactform__input,
.signupform__input,
.blogsearch__input {
	-webkit-appearance: none;
	height: 42px;
	width: 100%;
	border: 0;
	display: inline-block;
	vertical-align: top;
}

.contactform,
.advancedcontactform {
	input[type=email] {
		width: 100%;
		margin-bottom: 20px;
	}

	label {
		margin-bottom: 10px;
	}
}

// Dropdown

.select-wrap {
	position: relative;

    .advancedcontactform & {
        max-width: 50%;

        @media @tablet {
            max-width: 100%;
        }
    
        .responsivecolumns & {
            max-width: 100%;
        }
    }
}

select,
.advancedcontactform__select {
	appearance: none;
	border: none;
	border-radius: 0;
	width: 100%;
	position: relative;
	cursor: pointer;
	background-color: transparent;
	border: none;
	border: 1px solid @color__form--border;
	outline: none;
	height: 3rem;
	line-height: 3rem;
	font-size: 1rem;
	margin: 0 0 15px 0;
	padding: 0 2.4em 0 0.5em;
	display: block;
	background-image: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNCI+Cgk8cG9seWxpbmUgc3Ryb2tlPSIjNzY3ODgwIiBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9IjMiIHBvaW50cz0iMjAuMSw4LjYgMTIsMTYuNyAzLjksOC42IiAvPgo8L3N2Zz4=");
	background-repeat: no-repeat;
	background-position: right 0.5em center;
	background-size: 1.2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	.style--light & {
		border-color: @color__form--border;
	}

	.style--accent & {
		border-color: @contrast--accent;
	}

	.style--dark & {
		border-color: @contrast--dark;
	}

	&:hover,
	&:focus {
		box-shadow: none;
	}

	& span {
		color: initial;
		position: absolute;
		right: 0;
		top: 16px;
		font-size: 10px;
	}

	option {
		background-color: @color__container--background;
		color: @color__p--text;

		.style--light & {
			color: @color__p--text;
		}
	
		.style--accent & {
			color: @contrast--accent;
		}
	
		.style--dark & {
			color: @contrast--dark;
		}
	}
}

.widget [class*="form"] label[for*="input--terms"] .form__link {
	color: @color__p--text;

	.style--light & {
		color: @color__p--text;
	}

	.style--accent & {
		color: @contrast--accent;
	}

	.style--dark &,
	.style--background-image & {
		color: @contrast--dark;
	}
}

// Radiobuttons and Checkboxes

.widget .form .option-list {
	margin-top: 1em;
	margin-bottom: 2em;

	.option-item--radio,
	.option-item--checkbox {
		position: relative;
		width: 100%;
		margin-bottom: @font-swatch5-line-height / 2;
		padding: 0;
		min-height: @font-swatch5-line-height;
	}
}

.widget .form .option-list,
.widget .form-group[class*="form-group--terms"] {
	input[type="radio"],
	input[type="checkbox"] {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: floor(@font-swatch5-line-height*0.8+2) !important;
		height: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
		bottom: 0;

		&:checked + label:after {
			opacity: 1;
		}
	}

	.label--radio,
	.label--checkbox,
	label[for*="input--terms"] {
		display: block;
		position: relative;
		cursor: pointer;
		padding-left: 2em;
		margin-bottom: 0;
		word-break: break-word;
		text-align: left;
		text-transform: none;

		span a.form__link {
			font-family: @font-swatch5-font-family;
			font-weight: @font-swatch5-font-weight;
			font-size: @font-swatch5-font-size;
			line-height: @font-swatch5-line-height;
			letter-spacing: @font-swatch5-letter-spacing;
		}
			
		&:before,
		&:after {
			cursor: pointer;
			display: block;
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
		}

		&:before {
			min-width: 0;
			margin-top: floor(@font-swatch5-line-height*0.1);
			height: floor(@font-swatch5-line-height*0.8);
			width: floor(@font-swatch5-line-height*0.8);
			background-color: @color-swatch1;
			border: 1px solid @font-swatch7-background-color;
		}

		&:after {
			opacity: 0;
			width: floor(@font-swatch5-line-height*0.8);
		}
	}

	.label--radio {
		&:before {
			border-radius: 50%;
		}
		
		&:after {
			border-radius: 50%;
			background-color: @font-swatch7-background-color;
			border: 1px solid @font-swatch7-background-color;
			margin-top: floor(@font-swatch5-line-height*0.1);
			height: floor(@font-swatch5-line-height*0.8);
			transform: scale(50%);

			.style--light & {
				background-color: @font-swatch7-background-color;
				border: 1px solid @font-swatch7-background-color;
			}

			.style--accent & {
				background-color: @color--dark;
				border: 1px solid @color--dark;
			}

			.style--dark & {
				background-color: @color--accent;
				border: 1px solid @color--accent;
			}
		}
	}

	.label--checkbox,
	label[for*="input--terms"] {
		&:after {
			margin-top: floor(@font-swatch5-line-height*-0.2+1);
			height: floor(@font-swatch5-line-height*1.2);
			border: 1px solid transparent;
			box-shadow: -6px -6px 0 0 inset @font-swatch7-background-color;
			transform: scale(50%) rotate(45deg);

			.style--light & {
				box-shadow: -6px -6px 0 0 inset @font-swatch7-background-color;
			}

			.style--accent & {
				box-shadow: -6px -6px 0 0 inset @color--dark;
			}

			.style--dark & {
				box-shadow: -6px -6px 0 0 inset @color--accent;
			}
		}
	}
	
	label[for*="input--terms"] span a.form__link {
		text-decoration: underline;
		border: none;
	}
}

// Advanced Contact Form

.advancedcontactform {
	text-align: left;
	width: 100%;

	.legend {
		margin-bottom: 20px;
	}

	.form {
		text-align: left;
		width: 100%;
	}

	.select-wrap {
		width: 100%;

		&:hover {
			background-color: transparent;
		}

		@media @mobile {
			max-width: 100%;
		}

		select:focus {
			background-color: transparent;
		}
	}
}

.advancedcontactform__option-list {
	padding: 0px;
}

.widget .advancedcontactform,
.widget .contactform,
.widget .signupform,
& {
	input[type="radio"],
    input[type="checkbox"] {
        display: none;
    }

	input[type="radio"] + label,
    input[type="checkbox"] + label,
    .form-group[class$="form-group--terms"] label {
        display: block;
        position: relative;
        margin-left: 2em;
    }

	input[type="radio"] + label:before,
    input[type="checkbox"] + label:before,
    .form-group[class$="form-group--terms"] input[type="radio"] + label:before,
    .form-group[class$="form-group--terms"] input[type="checkbox"] + label:before {
        content: "";
        margin-top: -8px;
        width: 15px !important;
        height: 15px !important;
        min-height: 15px;
        min-width: 15px;
        position: absolute;
        outline: none;
        border-radius: 0;
        border: 2px solid @primary-color;
        top: @font__p--line-height/2;
        left: -2em;
        box-sizing: border-box;

        .style--light & {
			border-color: @primary-color !important;
		}

		.style--accent & {
			border-color: @contrast--accent !important;
		}

		.style--dark & {
			border-color: @contrast--dark !important;
		}
    }

	input[type="radio"] + label:before,
    input[type="radio"]:checked + label:before,
    .form-group[class$="form-group--terms"] input[type="radio"] + label:before,
    .form-group[class$="form-group--terms"] input[type="radio"]:checked + label:before {
        border-radius: 50%;
    }

	input[type="radio"]:checked + label:before,
    input[type="checkbox"]:checked + label:before,
    .form-group[class$="form-group--terms"] input[type="radio"]:checked + label:before,
    .form-group[class$="form-group--terms"] input[type="checkbox"]:checked + label:before {
        width: 13px !important;
        height: 13px !important;
		min-height: 13px;
        outline: none;
        background: @color__primary;
        border: 2.5px solid @color__form--background !important;
        box-shadow: 0px 0px 0px 2px @color__primary;

        .style--light & {
			background: @color__primary;
			border-color: @color__form--background !important;
			box-shadow: 0px 0px 0px 2px @color__primary;
		}

		.style--accent & {
			background: @contrast--accent;
			border-color: @color--accent !important;
			box-shadow: 0px 0px 0px 2px @contrast--accent;
		}

		.style--dark & {
			background: @contrast--dark;
			border-color: @color--dark !important;
			box-shadow: 0px 0px 0px 2px @contrast--dark;
		}
    }

	input[type="radio"]:checked + label:after,
    input[type="checkbox"]:checked + label:after,
    .form-group[class$="form-group--terms"] input[type="radio"]:checked + label:after,
    .form-group[class$="form-group--terms"] input[type="checkbox"]:checked + label:after {
        display: none;
    }

	.form-group>.label {
		text-transform: uppercase;
		font-weight: 700;
	}

	.form-group[class$="form-group--terms"] {
        margin-top: 3em;
    }

	.option-item>.label--checkbox,
	.option-item>.label--radio,
	.form-group[class$="form-group--terms"] label[for*="input--terms"] span a.form__link {
        display: block;
        position: relative;
        font-family: @font__p--font-family;
        line-height: @font__p--line-height;
        font-size: @font__p--font-size;
        font-weight: @font__p--font-weight;
        letter-spacing: @font__p--letter-spacing;
        color: @color__p--text;
        text-transform: none;
		word-break: break-word;

        .style--light & {
			color: @color__primary;
		}

		.style--accent & {
			color: @contrast--accent;
		}

		.style--dark & {
			color: @contrast--dark;
		}
	}

	.option-item--radio,
	.option-item--checkbox {
		display: block;
	}

	.widget .form label[for*="input--terms"] span a.form__link {
        left: 0;
    }
}

// Signup Form

.signupform__label {
	padding: 30px 0 10px;
}

.signupform__input {
	float: left;
	vertical-align: top;
	
	.button--submit {
		float: right;
		min-width: 20%;
		vertical-align: bottom;
		margin-top: 21px;
	}
}

// Registration Form

.widget__userregistration {
	fieldset {
		margin: 0 auto;
		padding: 0;
		border: none;
		max-width: 400px;
		
		@media @mobile {
			max-width: none;
		}

		.responsivecolumns & {
			max-width: none;
		}

		input {
			width: 100%;
			box-sizing: border-box;
		}

		.error {
			padding: 20px 0 0;

			&[style*="display: block"] {
				padding: 20px 0;
			}

			&[style*="display: none"] {
				display: block !important;
			}
		}
	}
}

// Clearfix

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

// Placeholder

::-webkit-input-placeholder {
   color: @color-text--light;

    .style--light & {
        color: @color-text--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

   .style--dark & {
        color: @contrast--dark;
    }
}

:-moz-placeholder {
   color: @color-text--light;

   .style--light & {
        color: @color-text--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

   .style--dark & {
        color: @contrast--dark;
    }
}

::-moz-placeholder {
   color: @color-text--light;

   .style--light & {
        color: @color-text--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

   .style--dark & {
        color: @contrast--dark;
    }
}

:-ms-input-placeholder {
   color: @color-text--light;

   .style--light & {
        color: @color-text--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

   .style--dark & {
        color: @contrast--dark;
    }
}

input:hover,
input:focus {
    &::-webkit-input-placeholder {
        color: transparent;
    }

    &:-moz-placeholder {
        color: transparent;
    }

    &::-moz-placeholder {
        color: transparent;
    }

    &:-ms-input-placeholder {
        color: transparent;
    }
}