// --------------------------------------
// BaseKit Standard Theme: LESS > Widgets
// --------------------------------------
// -----------------------------
// #Table of Contents
// -----------------------------
//  1.   #LOGO
//  2.   #COMPANY NAME
//  3.   #NAVIGATION
//  4.   #FEATURE
//  5.   #IMAGES
//  6.   #GALLERY
//  7.   #SLIDESHOW
//  8.   #BUTTONS
//  8.1  -- #STANDARD
//  8.2  -- #TWEET
//  8.3  -- #DROPBOX
//  8.4  -- #CLICK TO CALL
//  8.5  -- #PAYPAL
//  9.   #CONTACT FORM
// 10.   #SIGNUP FORM
// 11.   #BLOGSEARCH FORM
// 12.   #SOCIAL ICONS
// 13.   #TWITTER FEED
// 14.   #DIVIDER (KEYLINE)
// 15.   #PROFILE
// 16.   #MAP
// 17.   #YOUTUBE
// 18.   #YELP, SOUNDCLOUD ...
// -----------------------------
// 1.  #LOGO
// -----------------------------
.widget__logo {
    width: 100%;
    text-align: center;
}

.logo-link {
    @media @tablet {
        margin: 0px auto;
        display: table;
    }
}

.logo-image {
    margin: 0px auto;
}

// -----------------------------
// 2.  #COMPANY NAME
// -----------------------------
.widget.companyname {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
    @media @mobile {
        margin: 0px 0px 10px 0px!important;
    }
}

.companyname a {
    font-style: normal;
    position: relative;
    display: inline-block;
    padding: 0.65em 0 0.8em;
    @media @mobile {
        padding: 20px 0px;
        font-size: 24px;
    }
    &:hover {
        color: @color__secondary;
        font-weight: 400;
    }
}

// -----------------------------
// 3.  #NAVIGATION
// -----------------------------
// Widget Extended Navigation
// --------------------------
// Navigation List
// ---------------
.navigation-list {
    text-transform: uppercase;
    min-width: 220px;
    margin: 0;
}

// Default Page
.default-page .navigation-list--children {
    background-color: @color-swatch2;
}

// Navigation Item
// ---------------
.navigation-item {
    @media @tablet {
        width: 100%;
    }
}

// Navigation Link
.navigation-item .item-name {
    padding: 5px 15px;
    &:hover {
        color: @color__navigation--text--hover!important;
        text-decoration: none;
    }
}

.item-name {
    padding: 16px 20px;
}

// Selected Class
.extendednavigation li.selected > a {
    text-decoration: none;
    color: @color__navigation--text;
}

.navigation-item.folder .navigation-item--child a {
    color: @color__h4--text;
}

.extendednavigation__navigation-item.folder.selected span {
    color: @color__navigation--text;
    text-decoration: none;
}

.extendednavigation__navigation-item.folder.selected .selected {
    color: @color__navigation--text;
    text-decoration: none;
}

// Dropdown Menu
// -------------
.navigation-item.folder {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navigation-item.folder .navigation__item-name {
    color: @color__h4--text;
    &:hover {
        color: @color__h4--text;
    }
}

.item-name--parent {
    &:after {
        font-family: 'FontAwesome', sans-serif;
        display: inline-block;
        margin-left: 0.8em;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        @media @tablet {
            content: "";
            font-size: 0.8em;
        }
        .navigation-item.open & {
            @media @tablet {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
    }
}

.navigation-list--children,
.default-page .navigation-list--children {
    background-color: @color-swatch1;
    z-index: 99999;
    .navigation__item-name {
        color: @color__feature-strapline--text;
    }
    @media @tablet {
        position: relative;
        top: 0;
        .navigation-item:hover & {
            display: none;
        }
        .navigation-item.open & {
            display: block;
        }
    }
}

// Burger Icon
// -------------
.navigation-toggle {
    display: none;
}

@media @tablet {
    .navigation-toggle {
        display: block;
        overflow: hidden;
        width: 50px;
        height: 45px;
        text-indent: 1000px;
        line-height: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        outline: 0;
        border: 0;
        margin: 0px auto;
        margin-bottom: 20px;
        background-color: transparent;
        &:before {
            content: '';
            position: absolute;
            width: 26px;
            height: 3px;
            top: 0;
            left: 50%;
            right: 0;
            margin-top: 15px;
            margin-left: -13px;
            background: @color__navigation--text;
            box-shadow: 0 6px 0 @color__navigation--text;
            .transition( all, 0.5s, ease);
        }
        &:after {
            content: '';
            position: absolute;
            width: 26px;
            height: 3px;
            top: 12px;
            left: 50%;
            right: 0;
            margin-top: 15px;
            margin-left: -13px;
            background: @color__navigation--text;
            .transition( all, 0.5s, ease);
        }
    }
    .navigation-toggle:hover {
        border: 0;
        background-color: transparent;
        &:before {
            background: @color__navigation--text;
            box-shadow: 0 6px 0 @color__navigation--text;
        }
        &:after {
            background: @color__navigation--text;
        }
    }
    // Toggle Button Open State
    .open & {
        &.navigation-toggle {
            background-color: @color-swatch3;
            &:before {
                margin-top: 21px;
                background: @color-swatch1;
                box-shadow: none;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                .transition( all, 0.5s, ease);
            }
            &:after {
                content: '';
                position: absolute;
                width: 26px;
                height: 3px;
                top: 0;
                left: 50%;
                right: 0;
                margin-top: 21px;
                margin-left: -13px;
                background: @color-swatch1;
                box-shadow: none;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                .transition( all, 0.5s, ease);
            }
        }
    }
    .navigation-body {
        display: none;
        .open & {
            display: block;
        }
    }
    .navigation-item {
        width: 100%;
    }
}

.extendednavigation li.selected > a {
    text-decoration: none;
    color: @color__navigation--text;
}

.navigation-item.folder .navigation-item--child a {
    color: @color__h4--text;
}

// -----------------------------
// 4.  #FEATURE
// -----------------------------
.widget__feature {
    .feature__background-image {
        background-repeat: no-repeat;
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 500px;
        width: 100%;
        display: table;
        @media @tablet {
            height: 350px;
        }
    }
    .feature__content-wrap {
        text-align: center;
        margin: auto 0;
        display: table-cell;
        vertical-align: middle;
        h2.feature__headline {
            text-shadow: 1px 1px 10px #000000;
            letter-spacing: 0px;
            padding-bottom: 25px;
            @media @tablet {
                font-size: 43px;
                line-height: 50px;
                word-break: break-word;
            }
            @media @mobile {
                font-size: 32px;
                line-height: 38px;
                word-break: break-word;
            }
        }
        h3.feature__strapline {
            color: #ffffff;
            text-transform: uppercase;
            text-shadow: 1px 1px 10px #000000;
            word-break: break-word;
            @media @tablet {
                font-size: 14px;
                font-weight: 600;
                line-height: 30px;
                word-break: break-word;
            }
            @media @mobile {
                font-size: 12px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 1.5px;
                word-break: break-word;
            }
        }
        button.button.button--primary.feature__button.js-feature-btn {
            padding: 15px 25px;
            background-color: transparent;
            border-bottom: 1px solid #ffffff;
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            line-height: 21px;
            &:hover {
                background-color: transparent;
                border-bottom: 2px solid #ffffff;
                font-size: 1.05em;
                transition: all 0.1s ease-out;
                @media @mobile {
                    font-size: 1.025em!important;
                }
            }
            &:focus {
                outline: none;
            }
        }
    }
}

// Feature Button Alignments //
.widget.feature button.btn.justifyleft {
    text-align: left;
}

.widget.feature button.btn.justifycenter {
    text-align: center;
}

.widget.feature button.btn.justifyright {
    text-align: right;
}

.widget.feature button.btn.justifyfull {
    text-align: justify;
}

.widget.feature button.btn.italic {
    font-style: italic;
}

.widget.feature button.btn.bold {
    font-weight: bold;
}

.widget.feature button i {
    margin-right: 5px;
}

// Feature Layouts//

/* LEFT ALIGN */

.widget.feature.align-left .content {
    width: 100%;
    text-align: left;
}


/* CENTER ALIGN */

.widget.feature.align-center .content {
    width: 100%;
    text-align: center;
}


/* RIGHT ALIGN */

.widget.feature.align-right .content {
    width: 100%;
    text-align: right;
}

// Responsive Feature// 
@media @tablet {
    .widget.feature {
        .feature-bgimg {
            height: 300px;
            .content {
                height: 300px;
            }
        }
        h2 {
            font-size: bkscale(@font__feature-headline--font-size, 0.8);
            line-height: bkscale(@font__feature-headline--line-height, 0.8);
            letter-spacing: .1em;
        }
        h3 {
            font-size: bkscale(@font__feature-strapline--font-size, 0.9);
            line-height: bkscale(@font__feature-strapline--line-height, 0.9);
        }
        .feature-btn button {}
    }
}

@media @mobile {
    .widget.feature {
        .feature-bgimg {
            height: 300px;
            .content {
                height: 220px;
            }
        }
        h2 {
            font-size: bkscale(@font__feature-headline--font-size, 0.6);
            line-height: bkscale(@font__feature-headline--line-height, 0.6);
            padding-bottom: .1em;
        }
        h3 {
            font-size: bkscale(@font__feature-strapline--font-size, 0.8);
            line-height: bkscale(@font__feature-strapline--line-height, 0.8);
            padding-bottom: .8em;
        }
        .feature-btn {
            button {
                width: 65%;
                padding: 10px!important;
                font-size: bkscale(@font__button--font-size, 0.8);
                line-height: bkscale(@font__button--line-height, 0.8);
            }
        }
    }
}

// -----------------------------
// 5. #IMAGE WIDGET
// -----------------------------
.widget__imagewidget {
    margin-bottom: 40px;
    figcaption {
        span.image-title {
            margin: 10px 0 0;
            color: @color__h2--text;
            text-align: left;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 700;
            &:hover {
                color: lighten(@color__h2--text, 10%);
                letter-spacing: 1px;
            }
        }
        span.image-description {
            margin: 0 0 10px;
            color: @color__p--text;
            text-align: left;
            letter-spacing: 0px;
            &:hover {
                color: lighten(@color__p--text, 10%);
                letter-spacing: 0px;
            }
        }
    }
}

// 5.  #Gallery
// -----------------------------
// The following styles give you a three column gallery layout with a
// coloured overlay
// Gallery Layout
// --------------
// Gallery List
.gallery-list.gallery__gallery-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 0;
}

// Gallery Item
// For screen size larger than 920px. Media queries below.
.gallery {
    .gallery-item.gallery__gallery-item {
        position: relative;
        width: 32.5%;
        margin-bottom: 15px;
        @media @tablet {
            width: 32.5%;
        }
        @media @mobile {
            width: 100%
        }
        span.gallery__image-title {
            font-family: @font-swatch2-font-family;
            font-size: @font-swatch2-font-size;
            font-weight: @font-swatch2-font-weight;
            line-height: @font-swatch2-line-height;
            letter-spacing: @font-swatch2-letter-spacing;
            margin-bottom: 15px;
            word-break: break-word;
            &:hover {
                letter-spacing: 1px;
            }
            &:before {
                content: '';
                display: block;
                width: 80%;
                border-top: 2px solid @color__gallery-title--text;
                position: absolute;
                margin: 5%;
                top: 5%;
                @media @tablet {
                    margin-left: 0px;
                }
            }
            @media @tablet {
                font-size:26px;
                line-height:33px;
                margin-bottom:13px;
            }
            @media @mobile, @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) { 
                font-size:18px;
                margin-bottom:7px;
                line-height:20px;
            }
        }
        span.gallery__image-description {
            font-family: @font-swatch5-font-family;
            font-size: @font-swatch5-font-size;
            font-weight: @font-swatch5-font-weight;
            line-height: @font-swatch5-line-height;
            letter-spacing: @font-swatch5-letter-spacing;
            word-break: break-word;
            text-transform: uppercase;
            &:after {
                content: '';
                display: block;
                width: 80%;
                border-bottom: 2px solid @color__gallery-title--text;
                position: absolute;
                margin: 5%;
                bottom: 5%;
                @media @tablet {
                    margin-left: 0px;
                }
            }
            @media @tablet {
                font-size:13px;
                line-height:21px;
            }
            @media @mobile, @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
                font-size:10px;
                font-weight:600;
            }
        }
    }
}

// Gallery Images
// --------------
// Use Background-image Method
// For screen size larger than 920px. Media queries below.
.gallery {
    .image-link {
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-bottom: 100%;
    }
    // Hide Img Element
    .image {
        display: none;
    }
}

// Gallery Image Captions
// ----------------------
// Hide Caption
.gallery__caption {
    display: none;
    margin: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

// Show Caption
.gallery__figure:hover .gallery__caption {
    text-align: center;
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 9999;
    &:hover {
        opacity: 1;
    }
}

// Line below title
.gallery__image-title:after {
    display: block;
    content: '';
    width: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.gallery__figure:hover .gallery__caption .image-title:after {
    width: 70px;
}

// Media queries for Image Gallery
// -------------------------------
// Screen size between 769px and 920px
@media only screen and (max-width: 920px) and (min-width: 769px) {
    .gallery__figure:hover .gallery__caption:before {
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
    }
    .gallery__figure:hover .gallery__caption {
        padding: 9px 15px;
    }
    .gallery-item {
        .image-title {
            font-size: @font-swatch9-font-size;
            line-height: @font-swatch9-line-height;
        }
    }
}

// Screen size smaller than 850px
@media only screen and (max-width: 850px) {
    .gallery-item {
        .image-description {
            font-size: bkscale(@font-swatch9-font-size, .9);
            line-height: bkscale(@font-swatch9-line-height, .9);
            &:after {
                content: '';
                display: block;
                width: 80%;
                border-bottom: 2px solid @color__gallery-title--text;
                position: absolute;
                margin: 5%;
                bottom: 5%;
            }
        }
    }
}

//Tablet
@media @tablet {
    .gallery-item {
        .image-description {}
    }
    .gallery__figure:hover .gallery__caption .image-title:after {
        display: none;
    }
}

// Screen size smaller than 600px
@media only screen and (max-width: 600px) {
    .gallery__gallery-item {
        width: 100%;
        margin: 0 auto 20px;
    }
}

.gallery__caption {
    border: 1px solid @color-swatch7;
    padding: 10px;
    margin: 0;
    .image-title,
    .image-description {
        color: @color__gallery-title--text;
        text-shadow: none;
    }
    .image-title {
        font-size: @font-swatch4-font-size;
        line-height: @font-swatch4-line-height;
    }
}

.gallery__caption-link {
    display: block;
    width: 100%;
    &:hover {
        text-decoration: none;
    }
}

.responsivecolumns .gallery__caption-link {
    display: none;
}

.responsivecolumns .gallery__figure:hover .gallery__caption {
    &:after {
        display: none;
    }
}

.responsivecolumns .widget__gallery .gallery-item:hover figcaption {
    background-color: transparent;
    border: 0;
}

// -----------------------------
// 7.  #SLIDESHOW
// -----------------------------
.widget__responsiveslideshow {
    margin-bottom: 40px;
    ul.slides-list {
        padding: 0px;
        li.slide-item {
            .figure {
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                min-height: 650px;
                padding: 0px;
                .image-title.responsiveslideshow__image-title {
                    font-weight: 600;
                    text-transform: uppercase;
                    color: @color__slideshow-title--text;
                }
                .image-description.responsiveslideshow__image-description {
                    color: @color__slideshow-title--text;
                }
            }
        }
    }
    nav.slide-navigation {
        position: absolute;
        top: 30%;
        width: 100%;
        button.previous-button.button,
        button.next-button.button {
            width: 64px;
            height: 64px;
            background-color: transparent;
            position: absolute;
            color: @color__secondary;
            &:hover {
                opacity: 0.7;
            }
        }
        button.previous-button.button {
            span.control-text {
                display: none;
            }
            .icon--previous:before {
                left: 10px;
            }
        }
        button.next-button.button {
            right: 10px;
            span.control-text {
                display: none;
            }
        }
        button.pause-toggle.button,
        button.play-toggle.button {
            background-color: transparent;
            width: 64px;
            height: 64px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0%);
            position: relative;
            span.control-text {
                display: none;
            }
            &:before {
                color: @color__primary;
            }
            &:hover {
                background-color: transparent;
            }
        }
    }
    nav.slide-pagination {
        text-align: center;
        .pagination-list {
            margin: 10px 0;
            .pagination-item {
                .button.button--pagination {
                    background-color: transparent;
                    border: 1px solid @color__primary;
                    border-radius: 50%;
                    width: 8px!important;
                    height: 8px!important;
                    margin: 0 4px;
                    cursor: pointer;
                    padding: 0px;
                    .selected {
                        background-color: @color__primary;
                        border: none;
                    }
                }
            }
        }
    }
}

// -----------------------------
// 8. #BUTTONS
// -----------------------------
// 8.1 Standard //
.buttonwidget__button,
.button.contactform__button,
.button.signupform__button,
.advancedcontactform__button,
.button.button--submit,
.widget.profile fieldset button.btn,
.widget.signupform fieldset button.btn,
.blog-search-submit-button,
.productlist-search button,
.widget.ecombasket .ecombasket-list-container ul li .ecombasket-item-info .ecombasket-remove-button,
.ecombasket-summary-link,
.basket-summary-submit,
a.basket-summary-empty-cta.btn,
button.ecombasket-remove-button.js-remove,
.button.button--submit.blogsearch__button,
.button--submit.ecomproductslist__button {
    font-family: @font__button--font-family;
    font-size: @font__button--font-size;
    font-weight: @font__button--font-weight;
    background-color: #ffffff!important;
    display: inline-block;
    color: @color__primary;
    position: relative;
    padding: 1em 3em;
    overflow: hidden;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    &:before {
        content: '';
        display: block;
        height: 1em;
        width: 1em;
        border-bottom: 2px solid @color__primary;
        border-left: 2px solid @color__primary;
        position: absolute;
        left: 0;
        bottom: 0;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }
    &:focus {
        outline: none;
    }
    &:after {
        content: '';
        display: block;
        height: 1em;
        width: 1em;
        border-top: 2px solid @color__primary;
        border-right: 2px solid @color__primary;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }
    &:hover:before,
    &:hover:after {
        width: 100%;
        height: 100%;
    }
}

.widget__paypal,
.widget__tweet,
.widget__dropbox,
.widget__clicktocall {
    a.button.tweet__button,
    button.dropbox__button,
    a.phone-number-link {
        background-color: transparent;
        color: @color__primary;
        padding: 12px 30px;
        border-bottom: 1px solid @color__primary;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0px;
        &:before {
            font-size: 1.25em;
        }
        &:hover {
            border-bottom: 2px solid @color__primary;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            letter-spacing: 1px;
        }
    }
}

// -----------------------------
// 9.  #CONTACT FORM
// -----------------------------
.widget.contactform {
    margin-bottom: 40px;
    form {
        fieldset {
            margin: 0;
            label {
                font-family: @font__p--font-family;
                font-size: @font__p--font-size;
                font-weight: @font__p--font-weight;
                line-height: @font__p--line-height;
                color: @color__p--text;
                letter-spacing: @font__p--letter-spacing;
                margin-bottom: .4em;
                padding: 0;
            }
            button {
                float: right;
                background-color: #ffffff!important;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

// -------------------------------
// 10.  #SIGNUP FORM
// -------------------------------
.form-group,
.form-group .advancedcontactform {
    padding: 0px;
}

.widget__signupform {
    margin-bottom: 40px;
    fieldset {
        label {
            font-family: @font__p--font-family;
            font-size: @font__p--font-size;
            font-weight: @font__p--font-weight;
            line-height: @font__p--line-height;
            color: @color__p--text;
            letter-spacing: @font__p--letter-spacing;
        }
        input {
            height: 52px;
            width: 100%;
            margin-bottom: 0;
            font-size: 0.9em;
            @media @tablet {
                width: 100%!important;
            }
            @media @mobile {
                width: 100%!important;
                margin-bottom: 12px;
            }
        }
        button {
            position: absolute;
            float: left;
            bottom: 0;
            right: 0;
            background-color: #ffffff!important;
            &:focus {
                outline: none;
            }
            @media @mobile {
                float: left;
            }
        }
    }
}

// -------------------------------
// 11.  #BLOGSEARCH FORM
// -------------------------------
.widget__blogsearch {
    margin-bottom: 40px;
    label {
        font-family: @font__p--font-family;
        font-size: @font__p--font-size;
        font-weight: @font__p--font-weight;
        line-height: @font__p--line-height;
        color: @color__p--text;
        letter-spacing: @font__p--letter-spacing;
    }
    input {
        height: 52px;
        width: 100%;
        margin-bottom: 0;
        border-bottom: 1px solid @color__body--background;
        display: block;
        @media @tablet {
            width: 78%!important;
        }
        @media @mobile {
            width: 100%!important;
            margin-bottom: 12px;
        }
    }
}

.widget__blogsearch button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ffffff!important;
    border: none!important;
    float: left;
    &:focus {
        outline: none;
    }
}

// -----------------------------
// 12.  #SOCIAL ICONS
// -----------------------------
.widget__socialicons,
.widget__profile .profile__socialicons {
    margin: 40px 0px;
    ul.social-list {
        padding: 0px;
        li.social-item {
            display: inline-block;
            padding-bottom: 10px;
            a.social-link {
                background-size: 32px;
                background-color: transparent;
                margin: 0 5px;
                width: 35px;
                height: 35px;
                &:before {
                    font-size: 20px;
                }
                &:hover {
                    font-weight: 300;
                }
                @media @mobile {
                    margin: 0 2px;
                }
                span.social-name {
                    display: none;
                }
            }
            &:hover {
                background-color: transparent;
                border-bottom: 2px solid @color__primary;
                .transition (all, 0.2s, ease);
            }
        }
    }
}

// Nav Bar Icons // 
.bk-nav {
    .widget__profile {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translate(0, -50%);
        .bk-profile-socialicons {
            span {
                a {
                    background-color: transparent;
                    border: none;
                    &:hover {
                        background-color: fade(@color__primary, 20%);
                    }
                }
            }
        }
    }
}

// SVG Icons // 
.svg .widget.socialicons span.bk-socialicons-twitter a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-twitter a {
    background-image: image('/images/social/socialicons-twitter_mask.svg');
    background-color: @color__primary;
}

.svg .widget.socialicons span.bk-socialicons-linkedin a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-linkedin a {
    background-image: image('/images/social/socialicons-linkedin_mask.svg');
    background-color: @color__primary;
}

.svg .widget.socialicons span.bk-socialicons-facebook a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-facebook a {
    background-image: image('/images/social/socialicons-facebook_mask.svg');
    background-color: @color__primary;
}

.svg .widget.socialicons span.bk-socialicons-rss a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-rss a {
    background-image: image('/images/social/socialicons-rss_mask.svg');
    background-color: @color__primary;
}

.svg .widget.socialicons span.bk-socialicons-googleplus a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-googleplus a {
    background-image: image('/images/social/socialicons-googleplus_mask.svg');
    background-color: @color__primary;
}

.svg .widget.socialicons span.bk-socialicons-youtube a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-youtube a {
    background-image: image('/images/social/socialicons-youtube_mask.svg');
    background-color: @color__primary;
}

.svg .widget.socialicons span.bk-socialicons-instagram a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-instagram a {
    background-image: image('/images/social/socialicons-instagram_mask.svg');
    background-color: @color__primary;
}

.svg .widget.socialicons span.bk-socialicons-pinterest a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-pinterest a {
    background-image: image('/images/social/socialicons-pinterest_mask.svg');
    background-color: @color__primary;
}

// PNG Icons // 
.widget.socialicons span.bk-socialicons-twitter a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-twitter a {
    background-image: image('/images/social/socialicons-twitter_mask.svg');
}

.widget.socialicons span.bk-socialicons-linkedin a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-linkedin a {
    background-image: image('/images/social/socialicons-linkedin.svg');
}

.widget.socialicons span.bk-socialicons-facebook a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-facebook a {
    background-image: image('/images/social/socialicons-facebook.svg');
}

.widget.socialicons span.bk-socialicons-rss a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-rss a {
    background-image: image('/images/social/socialicons-rss.svg');
}

.widget.socialicons span.bk-socialicons-googleplus a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-googleplus a {
    background-image: image('/images/social/socialicons-googleplus.svg');
}

.widget.socialicons span.bk-socialicons-youtube a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-youtube a {
    background-image: image('/images/social/socialicons-youtube.svg');
}

.widget.socialicons span.bk-socialicons-instagram a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-instagram a {
    background-image: image('/images/social/socialicons-instagram.svg');
}

.widget.socialicons span.bk-socialicons-pinterest a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-pinterest a {
    background-image: image('/images/social/socialicons-pinterest.svg');
}


/*

// BK-NAV & FOOTER SVG Icons
// -------------------------

.bk-nav .widget.profile .bk-profile-socialicons span.bk-socialicons-twitter a,
.bk-footer .widget.profile .bk-profile-socialicons span.bk-socialicons-twitter a {
	background-image: image('/images/social/socialicons-twitter.svg');
}

.bk-nav .widget.profile .bk-profile-socialicons span.bk-socialicons-linkedin a,
.bk-footer .widget.profile .bk-profile-socialicons span.bk-socialicons-linkedin a {
	background-image: image('/images/social/socialicons-linkedin.svg');
}

.bk-nav .widget.profile .bk-profile-socialicons span.bk-socialicons-facebook a,
.bk-footer .widget.profile .bk-profile-socialicons span.bk-socialicons-facebook a {
	background-image: image('/images/social/socialicons-facebook.svg');
}

.bk-nav .widget.profile .bk-profile-socialicons span.bk-socialicons-rss a,
.bk-footer .widget.profile .bk-profile-socialicons span.bk-socialicons-rss a {
	background-image: image('/images/social/socialicons-rss.svg');
}

.bk-nav .widget.profile .bk-profile-socialicons span.bk-socialicons-googleplus a,
.bk-footer .widget.profile .bk-profile-socialicons span.bk-socialicons-googleplus a {
	background-image: image('/images/social/socialicons-googleplus.svg');
}

.bk-nav .widget.profile .bk-profile-socialicons span.bk-socialicons-youtube a,
.bk-footer .widget.profile .bk-profile-socialicons span.bk-socialicons-youtube a {
	background-image: image('/images/social/socialicons-youtube.svg');
}

.bk-nav .widget.profile .bk-profile-socialicons span.bk-socialicons-instagram a,
.bk-footer .widget.profile .bk-profile-socialicons span.bk-socialicons-instagram a {
	background-image: image('/images/social/socialicons-instagram.svg');
}

.bk-nav .widget.profile .bk-profile-socialicons span.bk-socialicons-pinterest a,
.bk-footer .widget.profile .bk-profile-socialicons span.bk-socialicons-pinterest a {
	background-image: image('/images/social/socialicons-pinterest.svg');
}

*/

.widget__companyphone {
    a.phone-number-link {
        padding-bottom:10px &:hover {
            border-bottom: 2px solid @color__primary;
        }
    }
}

// -----------------------------
// 13. #TWITER FEED
// -----------------------------
.widget__twitter,
.profile__twitter {
    margin-bottom: 40px;
    ul.tweet-list {
        padding: 0px;
        li.tweet-item {
            padding: 30px;
            margin-bottom: 1em;
            border: 1px solid @color__primary;
        }
    }
    img.avatar-image {
        max-width: 80px;
        float: left;
        margin-right: 20px;
        @media @mobile {
            display: none;
        }
    }
    .tweet-wrap {
        a:hover {
            text-decoration: none;
        }
        p.tweet-content {
            padding: 0;
        }
        time.timestamp,
        span.via {
            font-size: 0.8em;
        }
        a.account-link {
            font-family: @font-swatch4-font-family;
            color: @color__p--text;
            font-size: @font__p--font-size;
            text-transform: uppercase;
            &:hover {
                text-decoration: none;
                .transition (all, 0.1s, ease);
            }
        }
        span.account-name {
            font-family: @font__p--font-family;
            font-size: @font__p--font-size;
            font-weight: 700;
            letter-spacing: 1px;
            &:hover {
                font-weight: 700;
                text-decoration: none!important;
            }
        }
    }
}

.widget__profile {
    .profile__twitter {
        .tweet-item {
            padding: 30px;
            margin-bottom: 1em;
            border: 1px solid @color__primary;
            img.avatar-image {
                max-width: 80px;
                float: left;
                margin-right: 20px;
                @media @mobile {
                    display: none;
                }
            }
            .tweet-wrap {}
        }
    }
}

// -----------------------------
// 14. #DIVIDER - LINE WIDGET
// -----------------------------
.widget__line {
    padding: 0;
    margin-bottom: 40px;
}

hr.rule {
    background-color: @color__primary;
    margin: 0;
    height: 1px;
}

// -----------------------------
// 15. #PROFILE
// -----------------------------
.widget.profile {
    form {
        fieldset {
            input {
                width: 100%;
                height: 52px;
                @media @tablet {
                    width: 78%!important;
                }
                @media @mobile {
                    width: 100%!important;
                    margin-bottom: 12px;
                }
            }
            button {
                float: right;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}

.bk-profile-address p:after {
    margin-left: 0;
}

// -----------------------------
// 16. #MAP
// -----------------------------
.widget.map {
    border: 1px solid @color__primary;
    margin-bottom: 40px;
}

// -----------------------------
// 17. #YOUTUBE
// -----------------------------
.widget.youtube {
    margin-bottom: 40px;
}

// -----------------------------
// 18. #YELP, SOUNDCLOUD ...
// -----------------------------
.widget.soundcloud,
.widget.facebookcomments,
.widget.donation,
.widget.yelpreview {
    margin-bottom: 40px;
}

.widget.yelpreview {
    border: 1px solid @color__primary;
    padding: 15px;
    ul.yelpreview.js-yelpreview {
        padding-left: 15px;
    }
    h2.yelp-title {
        padding: 15px 0px 0px 15px;
    }
    .review-link a {
        font-family: @font-swatch4-font-family;
        font-size: 12px;
        color: @color__primary;
        text-transform: uppercase;
        text-decoration: none;
        padding: 12px 0px;
        border-bottom: 1px solid @color__primary;
        letter-spacing: 1px;
        &:hover {
            letter-spacing: 1px!important;
            border-bottom: 2px solid @color__primary;
            cursor: pointer;
            .transition (all, 0.2s, ease);
        }
    }
}