// Widgets

// LOGO

.widget__logo {
    width: 100%;
    text-align: center;
}

.logo__logo-link {
    @media @tablet {
        margin: 0px auto;
        display: table;
    }
}
    
.logo__logo-image {
    margin: 0px auto;
}
    
// COMPANY NAME

.widget__companyname {
    width: 100%;
    text-align: center;
    margin: 20px 0px;

    @media @mobile {
        margin: 0px 0px 10px 0px!important;
    }
}

a.companyname__company-link {
    display: inline-block;
    padding: 0.65em 0 0.8em;
    font-family: @font__companyname--font-family;
    font-size: @font__companyname--font-size;
    font-weight: @font__companyname--font-weight;
    line-height: @font__companyname--line-height;
    letter-spacing: @font__companyname--letter-spacing;
    color: @color__companyname--text;
    width: 100%;

    @media @mobile {
        padding: 20px 0px;
        font-size: 24px;
    }

    &:hover {
        color: darken(@color__companyname--text, 10%);
        font-weight: 400;
        letter-spacing: 1px;
    }
}

// NAVIGATION

.widget .extendednavigation {
    position: relative;

    ul.navigation-list {
        text-transform: uppercase;
        min-width: 220px;
        margin: 0;
        background-color: @color__navigation-list--background;
    
        @media @tablet {
            display: none;
        }

        &.open {
            @media @tablet {
                display: block;
            }
            
            .navigation-body {
                @media @tablet {
                    display: none;
                }
                .open & {
                    @media @tablet {
                        display: block;
                    }
                }
            }
        }

        li.navigation-item {
            @media @tablet {
                width: 100%;
            }

            &:hover {
                background-color: darken(@color__navigation-item--background, 2.5%);
                color: @color__navigation--text;
                text-decoration: none;
            }

            > .item-name {
                padding: 1em;

                &:hover {
                    background-color: @color__navigation-item--background;
                }
            }

            &.selected > a.item-name {
                text-decoration: none;
                color: @color__navigation--text;
                background-color: darken(@color__navigation-item--background, 5%);
            }

            &.folder {
				&:after {
					content: none;
				}

                .navigation-list--children {
                    .default-page & {
                        background-color: @color__primary;
                    }
                }
					
                > .item-name {
                    position: relative;
                    padding-right: 2em;
                    word-break: break-word;

                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: 1em;
                        border: 2px solid fade(@color__navigation--text, 80%);
                        border-top: transparent;
                        border-left: transparent;
                        transform: rotate(45deg);
                        margin-top: -0.4em;
                        width: 0.5em;
                        height: 0.5em;

                        @media @tablet {
                            right: 0.7em;
                        }
                    }
                
                    &:hover:after {
                        border-color: @font-swatch6-color-hover;
                    }
                }

                &.selected .selected {
                    color: @color__navigation--text;
                    text-decoration: none;
                }
            }

			> ul,
			&:hover > ul {
				z-index: 500;
				display: none;
				position: absolute;
				right: 0;
				left: auto;
				width: auto;
				min-width: 200px;
				max-width: 400px;
                background-color: @color__navigation-item--background;

				@media @tablet {
					display: none;
					position: static;
					width: 100%;
					min-width: auto;
					max-width: none;
				}
                
                .navigation-item--child .item-name {
                    color: @color__navigation--text;
                    overflow: visible;
                    word-break: break-word;

                    &:hover {
                        background-color: darken(@color__navigation-item--background, 5%);
                    }
        
                    @media @tablet {
                        color: @color__navigation--text;
                    }
                }
			}
	
            // Folder Open
			
			&.folder-open > ul,
			&.folder-open:hover > ul {
				display: block;

				@media @tablet {
					display: block;
				}
			}
        }
    }
}
    
// Burger Icon

.extendednavigation__navigation-toggle {
    margin: 0 auto;
    display: none;

    @media @tablet {
        margin: 0 auto;
        color: transparent!important;
        display: block;
        width: 50px;
        height: 45px;
        background-color: transparent;
    }

    &:before,
    &:after {
        @media @tablet {
            content: '';
            position: absolute;
            width: 26px !important;
            height: 3px !important;
            left: 50%;
            right: 0;
            margin-top: 15px;
            margin-left: -13px;
            background: @color__navigation--text;
            box-shadow: 0 6px 0 @color__navigation--text;
            .transition( all, 0.5s, ease);
        }
    }

    &:before {
        @media @tablet {
            top: 0;
            border-bottom: 2px solid @color__navigation--text;
        }
    }

    &:after {
        @media @tablet {
            top: 12px;
            border-top: 2px solid @color__navigation--text;
        }
    }

    &:hover:before,
    &:hover:after {
        @media @tablet {
            width: 26px;
            height: 3px !important;
        }
    }

    &:hover {
        @media @tablet {
            border: 0;
            background-color: transparent;
        }
    }
}
    
// LANGUAGE SELECTOR

@language-padding: 0.5em;

.language-selector {
	&.language-selector--horizontal,
	&.language-selector--dropdown {
		z-index: 200;
	    position: relative;
		box-sizing: content-box;
		width: auto;
		max-width: 1500px;
		margin: 0 auto;
	}

	&.language-selector--light,
	&.language-selector--dark {
		background-color: transparent;
		
		@media @mobile {
  			box-shadow: none;
		}
	}

    &.language-selector--light {
        background-color: @color__container--background;
    }
    
    &.language-selector--dark {
        background-color: @color__body--background;
    }
	
	&.language-selector--dropdown {
	    height: auto;
		text-align: left;
	}

    .language-selector__inner,
    .language-selector__list,
    .language-selector__item,
    .language-selector__link,
    .language-selector__name,
    .language-selector__localised-name {
    	text-transform: uppercase;
    	font-family: @font__navigation--font-family;
    	font-size: @font__navigation--font-size;
    	font-weight: @font__navigation--font-weight;
    	line-height: @font__navigation--line-height;
    	letter-spacing: @font__navigation--letter-spacing;
    	color: @color__navigation--text;
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto;
        font-smooth: auto;
        text-rendering: auto;
    }
    
	.language-selector__icon,
	&.language-selector--flag-text .language-selector__icon {
		margin-right: 0;
	}
}

// Inner

.language-selector__inner {
	.language-selector.language-selector--horizontal & {
	    padding: 0.5em 0;
	}
	
	.language-selector.language-selector--dropdown & {
	    box-sizing: border-box;
		margin: 0.5em 0;
		
		@media @desktop-large {
		    margin: 0.5em;
		}
		
    	&:before {
    	    content: '';
            display: block;
    	    height: @font__navigation--line-height+@font__navigation--font-size+2;
    	    padding: 1em;
    	}
    	&:after {
    	    content: '';
            display: block;
    	}

		@media @mobile {
			width: 100%;
		}
	}
	
	.language-selector.language-selector--horizontal.language-selector--light & {
	    margin: 0 0.5em;
	    padding: 0.5em 0;
	}
	
	.language-selector.language-selector--dropdown.language-selector--light & {
		margin: 0.5em;
	}
}

// List

.language-selector__list {
    .language-selector & {
	    min-width: auto;
    }
	
	.language-selector.language-selector--dropdown & {
		margin: 0;
		box-sizing: border-box;
		min-width: auto;
		max-width: 100%;
        
        @media @tablet {
		    margin: 0;
	    	max-width: 100%;
        }
		
		@media @mobile {
			width: 100%;
		}
	}
	
	.language-selector.language-selector--dropdown.language-selector--flag & {
		@media @mobile {
			width: auto;
		}
	}
}

// Item

.language-selector__item {
	.language-selector.language-selector--light &,
	.language-selector.language-selector--dark & {
		cursor: pointer;
	    position: relative;
		border: none;
		background-color: transparent;
		width: auto;
		max-width: 100%;
		-webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        transition: 0.2s;
        
        &--current {
            &:after {
                cursor: pointer;
                top: 50%;
                right: 0;
                content: '';
                background: no-repeat center center;
                background-image: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNCI+Cgk8cG9seWxpbmUgc3Ryb2tlPSIjNzY3ODgwIiBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9IjMiIHBvaW50cz0iMjAuMSw4LjYgMTIsMTYuNyAzLjksOC42IiAvPgo8L3N2Zz4=");
    	        background-size: 1.2em;
                color: transparent;
                margin-top: -(@font__navigation--line-height/2);
                min-width: 1em;
                font-size: @font__navigation--font-size;
                height: @font__navigation--line-height;
            }
        }
	}
	
	.language-selector.language-selector--horizontal & { 
		.language-selector--light& {
            border: none;
            background-color: transparent;
			
			&:hover {
                border: none;
                background-color: darken(@color__container--background, 5%);
			}
			
			&--current {
				&, &:hover {
                    border: none;
                    background-color: darken(@color__container--background, 5%);
				}
			}
		}
		
		.language-selector--dark& {
            border: none;
            background-color: transparent;
			
			&:hover {
                border: none;
                background-color: darken(@color__body--background, 5%);
			}
			
			&--current {
				&, &:hover {
                    border: none;
                    background-color: darken(@color__body--background, 5%);
				}
			}
		}
	}
	
	.language-selector.language-selector--dropdown & {
		.language-selector--light& {
            border: none;
            background-color: darken(@color__container--background, 5%);
			
			&:hover {
                border: none;
                background-color: darken(@color__container--background, 10%);
			}
			
			&--current {
			    &, &:hover {
                    border: 1px solid darken(@color__container--background, 20%);
                    background-color: darken(@color__container--background, 5%);
				}
			}
		}
		
		.language-selector--dark& {
            border: none;
            background-color: @color__body--background;
			
			&:hover {
                border: none;
                background-color: darken(@color__body--background, 5%);
			}
			
			&--current {
			    &, &:hover {
                    border: 1px solid darken(@color__body--background, 20%);
                    background-color: lighten(@color__body--background, 5%);
				}
			}
		}
	}
}

// Link

.language-selector__link {
	.language-selector & {
		box-sizing: border-box;
		padding: 0 @language-padding;
		border: none;
		background-color: transparent;
		hyphens: auto;
		
		&:hover {
    		border: none;
    		background-color: transparent;
		}
	}

	.language-selector &,
	.language-selector.language-selector--light &,
	.language-selector.language-selector--dark &,
	.language-selector.language-selector--light .language-selector__item--current &,
	.language-selector.language-selector--dark .language-selector__item--current & {
		&, &:hover {
    		border: none;
    		background-color: transparent;
		}
	}
	
	// Horizontal - Item
	
	.language-selector.language-selector--horizontal & {
		text-align: right;
		display: inline-block;
	}
	
	// Dropdown - Item
	
	.language-selector.language-selector--dropdown & {
		padding-right: @language-padding*2;
	}
}

// Icon

.language-selector__icon {
	.language-selector & {
		margin-right: 0;
		padding: @language-padding 0;
		min-height: font__navigation--line-height;
		box-sizing: content-box;
		line-height: @font__navigation--line-height;
	}
	
	.language-selector.language-selector--dropdown & {
		float: left;
	}
}

// Name

.language-selector__name,
.language-selector__localised-name {
	.language-selector & {
		.transition (all, 0.5s, ease);
	}
	
	.language-selector.language-selector--flag-text & {
		display: inline-block;
		padding: @language-padding 0 @language-padding @language-padding/2;
	}
	
	.language-selector.language-selector--horizontal.language-selector--flag-text & {
		margin-left: @language-padding/2;
		padding: @language-padding 0;
	}
	
	.language-selector.language-selector--text &,
	.language-selector.language-selector--flag & {
		padding: @language-padding 0;
	}

	.language-selector.language-selector--text & {
		display: block;
	}
	
	.language-selector.language-selector--dropdown & {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		.language-selector--flag-text& {
			@media @mobile-small {
				display: none;
			}
		}
	}
}
    
// FEATURE

.widget__feature {
    .background-image {
        background-repeat: no-repeat;
        background-position: center top;
        -webkit-background-size: cover;        
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 500px;
        width: 100%;
        display: table;
    
        @media @tablet {
            height: 350px;
        }
    }
        
    // Feature Content Wrap
    
    .content-wrap {
        text-align: center;
        margin: auto 0;
        display: table-cell;
        vertical-align: middle;
    }
        
    // Feature Content

    h2.headline {
        font-family: @font__feature-headline--font-family;
        font-size: @font__feature-headline--font-size;
        font-weight: @font__feature-headline--font-weight;
        letter-spacing: @font__feature-headline--letter-spacing;
        color: @color__feature-headline--text;
        text-shadow: 1px 1px 10px #000000;
        padding-bottom: 25px;
    
        @media @tablet {
            font-size: 43px;
            line-height: 50px;
            word-break: break-word;
        }
    
        @media @mobile {
            font-size: 32px;
            line-height: 38px;
            word-break: break-word;
        }
    }
    
    h3.strapline {
        font-family: @font__feature-strapline--font-family;
        font-size: @font__feature-strapline--font-size;
        font-weight: @font__feature-strapline--font-weight;
        line-height: @font__feature-strapline--line-height;
        letter-spacing: @font__feature-strapline--letter-spacing;
        color: @color__feature-strapline--text;
        text-transform: uppercase;
        text-shadow: 1px 1px 10px #000000;
        word-break: break-word;
    
        @media @tablet {
            font-size: 14px;
            font-weight: 600;
            line-height: 30px;
            word-break: break-word;
        }
    
        @media @mobile {
            font-size: 12px;
            font-weight: 600;
            line-height: 22px;
            letter-spacing: 1.5px;
            word-break: break-word;
        }
    }
        
    // Feature Button
    
    .button {
        padding: 15px 25px;
        background-color: transparent;
        border-bottom: 1px solid @color__feature-button--text;
        text-transform: uppercase;
        line-height: 21px;
        color: @color__feature-button--text;

        &:before,
        &:after {
            content: none;
        }
    
        &:hover {
            background-color: transparent;
            box-shadow: 0 2px 0 @color__feature-button--text;
            font-size: 1.05em;
            transition: all 0.1s ease-out;
    
            @media @mobile {
                font-size: 1.025em!important;
            }
        }
    
        &:focus {
            outline: none;
        }
    }
}
    
// IMAGE

.widget__imagewidget {
    margin-bottom: 40px;

    [data-name="row"] & {
        margin-bottom: 0;
    }

    .image-title {
        margin: 10px 0 0;
        text-align: left;
        text-transform: uppercase;
        font-weight: 700;
        color: @color__image-title--text;

        .style--light & {
            color: @color__image-title--text;
        }

        .style--accent & {
            color: @contrast--accent;
        }

        .style--dark & {
            color: @contrast--dark;
        }

        &:hover {
            color: @color__image-title--text;
    
            .style--light & {
                color: @color__image-title--text;
            }
    
            .style--accent & {
                color: @contrast--accent;
            }
    
            .style--dark & {
                color: @contrast--dark;
            }
        }
    }

    .image-description {
        margin: 0 0 10px;
        text-align: left;
        letter-spacing: 0px;
        color: @color__image-description--text;

        .style--light & {
            color: @color__image-description--text;
        }

        .style--accent & {
            color: fade(@contrast--accent, 80%);
        }

        .style--dark & {
            color: fade(@contrast--dark, 80%);
        }

        &:hover {
            letter-spacing: 0px;
            color: @color__image-description--text;
    
            .style--light & {
                color: @color__image-description--text;
            }
    
            .style--accent & {
                color: fade(@contrast--accent, 80%);
            }
    
            .style--dark & {
                color: fade(@contrast--dark, 80%);
            }
        }
    }
}
    
// GALLERY

// Gallery List

.gallery-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 0;
}

// Gallery Item

.widget__gallery {
    .gallery-item {
        position: relative;
        width: 32.5%;
        margin-bottom: 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        @media @tablet-small {
            width: 100%;
            margin: 0 auto 20px;
        }

        @media @tablet {
            width: 32.5%;
        }

        @media @mobile {
            width: 100%
        }

        .responsivecolumns & {
            width: 100%
        }
        
        &:hover figcaption {
            .responsivecolumns {
                background-color: transparent;
                border: 0;
            }
        }

        .image-title {
            font-family: @font-swatch2-font-family;
            font-size: @font-swatch2-font-size;
            font-weight: @font-swatch2-font-weight;
            line-height: @font-swatch2-line-height;
            letter-spacing: 1px;
            margin-bottom: 15px;
            word-break: break-word;
            color: @color__gallery-title-text;

            @media @tablet-to-desktop-small {
                font-size: @font-swatch9-font-size;
                line-height: @font-swatch9-line-height;
            }

            &:hover {
                letter-spacing: 1px;
            }

            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 80%;
                border-top: 2px solid @color__gallery-title--text;
                margin: 5%;
                top: 5%;
                width: 0;
                transition: all 0.3s ease-in-out;

                @media @tablet {
                    margin-left: 0px;
                }
            }

            @media @tablet {
                font-size: 26px;
                line-height: 33px;
                margin-bottom: 13px;
            }

            @media @mobile-small-to-mobile {
                font-size: 18px;
                margin-bottom: 7px;
                line-height: 20px;
            }
        }

        .image-description {
            font-family: @font-swatch5-font-family;
            font-size: @font-swatch5-font-size;
            font-weight: @font-swatch5-font-weight;
            line-height: @font-swatch5-line-height;
            letter-spacing: @font-swatch5-letter-spacing;
            word-break: break-word;
            text-transform: uppercase;
            color: @color__gallery-description--text;

            @media @tablet-large {
                font-size: bkscale(@font-swatch9-font-size, .9);
                line-height: bkscale(@font-swatch9-line-height, .9);
            }

            @media @tablet {
                font-size: 13px;
                line-height: 21px;
            }

            @media @mobile-small-to-mobile {
                font-size: 10px;
                font-weight: 600;
            }

            &:after {
                content: '';
                display: block;
                border-bottom: 2px solid @color__gallery-title--text;
                position: absolute;
                bottom: 25px;
                left: 25px;
                right: 25px;
            }
        }
    }
    
    // Gallery Images

    .image-link {
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-bottom: 100%;
    }
    
    // Hide Img Element
    
    .image {
        display: none;
    }
}

// Gallery Image Captions

.gallery__caption {
    display: none;
    margin: 0;
    padding: 10px;
    background-color: @color__gallery-caption--background;
    border: 1px solid @color__gallery-title--text;

    .style--light & {
        border-color: @color__gallery-title--text;
    }

    .style--accent & {
        border-color: @color--accent;
    }

    .style--dark & {
        border-color: @color--dark;
    }

    .image-title,
    .image-description {
        color: @color__gallery-title--text;
        text-shadow: none;
    }
    
    .image-title {
        font-size: @font-swatch4-font-size;
        line-height: @font-swatch4-line-height;
    }

    &-link {
        display: block;
        width: 100%;

        &:hover {
            text-decoration: none;
        }
    
        .responsivecolumns & {
            display: none;
        }
    }
}

// Show Caption

.gallery__figure {
    &:hover {
        .gallery__caption {
            text-align: center;
            position: absolute;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            padding: 25px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: stretch;
            align-items: center;
            opacity: 0;
            transition: all 0.2s ease-in-out;
            overflow: hidden;
            z-index: 9999;

            @media @tablet-to-desktop-small {
                padding: 9px 15px;
            }
            
            &:hover {
                opacity: 1;
            }
            
            &:before {
                @media @tablet-to-desktop-small {
                    top: 3px;
                    left: 3px;
                    right: 3px;
                    bottom: 3px;
                }
            }

            .image-title:after {
                width: 70px;

                @media @tablet {
                    display: none;
                }
            }
        }
    }
}

.gallery__image-title:after {
    display: block;
    content: '';
}

// BUTTONS

button, .button,
.buttonwidget__button,
.button.contactform__button,
.button.signupform__button,
.advancedcontactform__button,
.button.button--submit,
.userregistration fieldset .userregistrationbtn,
.widget.profile fieldset button.btn,
.widget.signupform fieldset button.btn,
.blog-search-submit-button,
.productlist-search button,
.widget.ecombasket .ecombasket-list-container ul li .ecombasket-item-info .ecombasket-remove-button,
.ecombasket-summary-link,
.basket-summary-submit,
a.basket-summary-empty-cta.btn,
button.ecombasket-remove-button.js-remove,
.button.button--submit.blogsearch__button,
.blogpostlist__read-more,
.button--submit.ecomproductslist__button,
.continue-shopping.button,
.contentgroup__link {
    display: inline-block;
    background-color: @color__button--background;
    font-family: @font__button--font-family;
    font-weight: @font__button--font-weight;
    font-size: @font__button--font-size;
    line-height: @font__button--line-height;
    letter-spacing: @font__button--letter-spacing;
    color: @color__button--text;
    position: relative;
    padding: 9px 3em;
    height: auto;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    text-align: center;
    word-break: break-word;

    .style--light & {
        color: @color__button--text;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark &,
    .style--background-image & {
        color: @contrast--dark;
    }

    &:hover,
    &:focus {
        outline: none;
        color: @color__button--text--hover;
        background-color: @color__button--background--hover;

        .style--light & {
            color: @color__button--text--hover;
        }
    
        .style--accent & {
            color: darken(@contrast--accent, 5%);
        }
    
        .style--dark &,
        .style--background-image & {
            color: darken(@contrast--dark, 5%);
        }
    }

    &:before,
    &:after {
        content: '';
        display: block;
        height: 1em;
        width: 1em;
        position: absolute;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
        border-color: @color__button--text;

        .style--light & {
            border-color: @color__button--text;
        }

        .style--accent & {
            border-color: @contrast--accent;
        }

        .style--dark &,
        .style--background-image & {
            border-color: @contrast--dark;
        }
    }

    &:before {
        border-bottom: 2px solid;
        border-left: 2px solid;
        left: 0;
        bottom: 0;
    }

    &:after {
        border-top: 2px solid;
        border-right: 2px solid;
        right: 0;
        top: 0;
    }

    &:hover:before,
    &:hover:after,
    &:focus:before,
    &:focus:after {
        width: 100%;
        height: 100%;
        
        color: @color__button--text--hover;

        .style--light & {
            color: @color__button--text--hover;
        }
    
        .style--accent & {
            color: darken(@contrast--accent, 5%);
        }
    
        .style--dark &,
        .style--background-image & {
            color: darken(@contrast--dark, 5%);
        }
    }
}

.widget__paypal,
.widget__tweet a.button.tweet__button,
.widget__dropbox button.dropbox__button,
.widget__clicktocall .phone-number-link,
[data-name="filedownload"] .button {
    &:before {
        font-size: 1.25em;
    }
}

.widget button.btn span {
    color: @color__button--text;

    .style--light & {
        color: @color__button--text;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark &,
    .style--background-image & {
        color: @contrast--dark;
    }
}

// CONTACT & SIGNUP & BLOGSEARCH FORM

.form-group,
.form-group .advancedcontactform {
    padding: 0px;
}


.fieldset--search,
.signupform__fieldset,
.blogsearch__fieldset {
    margin: 40px 0px;
}

.widget__contactform,
.widget__profile .signupform,
.widget__blogsearch {
    margin-bottom: 40px;
}

.contactform__textarea {
    margin-bottom: 5px !important;
}

.contactform__legend,
.signupform__legend,
.blogsearch__legend {
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
}

.contactform__label,
.signupform__label,
.blogsearch__label {
    font-family: @font__p--font-family;
    font-size: @font__p--font-size;
    font-weight: @font__p--font-weight;
    line-height: @font__p--line-height;
    color: @color__form-label--text;
    letter-spacing: @font__p--letter-spacing;
    margin-bottom: .4em;
    padding: 0;
    word-break: break-word;

    .style--light & {
        color: @color__form-label--text;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

.contactform__button,
.signupform__button,
.blogsearch__button {
    float: left;
    background-color: transparent;
    
    &:focus {
        outline: none;
    }
}

.signupform__button {
    margin: 10px 0px 20px;
}

.contactform__form-group {
    margin-top: 0px;
}

.widget .form {
	.option-item--radio,
	.option-item--checkbox {
		label {
			word-break: break-word;
		}
	}
}

// SOCIAL ICONS

.widget__socialicons,
.widget__profile .profile__socialicons {
    margin: 40px 0px;

    .socialicons__social {
        &-list {
            padding: 0px;
        }
        
        &-item {
            display: inline-block;
            padding-bottom: 10px;
        
            &:hover {
                background-color: transparent;
                box-shadow: 0 2px 0 @color__socialicons--icon;
                .transition (all, 0.2s, ease);
        
                .style--light & {
                    box-shadow: 0 2px 0 @color__socialicons--icon;
                }
        
                .style--accent & {
                    box-shadow: 0 2px 0 @contast--accent;
                }
        
                .style--dark & {
                    box-shadow: 0 2px 0 @contast--dark;
                }
            }
    
            .icon:before {
                font-size: 18px !important;
            }
        }
        
        &-link {
            color: @color__socialicons--icon;
            background-size: 32px;
            background-color: transparent;
            margin: 0 5px;
            width: 35px;
            height: 35px;
        
            .style--light & {
                color: @color__socialicons--icon;
            }
        
            .style--accent & {
                color: @contrast--accent;
            }
        
            .style--dark & {
                color: @contrast--dark;
            }
        
            @media @mobile {
                margin: 0 2px;
            }
        
            &:before {
                font-size: 20px;
            }
        
            &:hover {
                font-weight: 300;
            }
        }
        
        &-name {
            display: none;
        }
    }
}

.widget__companyphone {
    .phone-number-link {
        padding-bottom: 10px;
        letter-spacing: 1.15px !important;
        color: @color__link--text;

        .style--light & {
            color: @color__link--text;
        }

        .style--accent & {
            color: @contrast--accent;
        }

        .style--dark & {
            color: @contrast--dark;
        }

        &:hover {
            box-shadow: 0 1.5px 0 @color__link--text;
            letter-spacing: 1px;

            .style--light & {
                box-shadow: 0 1.5px 0 @color__link--text;
            }

            .style--accent & {
                box-shadow: 0 1.5px 0 @contrast--accent;
            }

            .style--dark & {
                box-shadow: 0 1.5px 0 @contrast--dark;
            }
        }
    }
}

// TWITTER FEED

.widget__twitter,
.profile__twitter {
    margin-bottom: 40px;
}

.twitter {
    .tweet-list {
        padding: 0px;
    }
    
    .tweet-item {
        padding: 30px;
        margin-bottom: 2em;
        border: 1px solid @color__primary;
    
        .style--light & {
            border-color: @color__primary;
        }
    
        .style--accent & {
            border-color: @contrast--accent;
        }
    
        .style--dark & {
            border-color: @contrast--dark;
        }
    }
    
    .avatar-image {
        max-width: 80px;
        float: left;
        margin-right: 20px;
    
        @media @mobile {
            float: none;
            margin: 0 0 20px;
        }
    }

    .tweet-wrap.twitter__tweet-wrap {
        margin-left: 68px;
        margin-top: -0.5em;
    
        @media @mobile {
            margin-left: 0;
        }
    }
    
    .timestamp,
    .twitter-feed__via {
        font-size: 0.8em;
    }
    
    .tweet-content {
        padding: 0;
    }
    
    .account-link {
        font-family: @font-swatch4-font-family;
        color: @color__p--text;
        font-size: @font__p--font-size;
        text-transform: uppercase;
    
        &:hover {
            text-decoration: none;
            .transition (all, 0.1s, ease);
        }
    
        .style--light & {
            color: @color__p--text;
        }
    
        .style--accent & {
            color: @contrast--accent;
        }
    
        .style--dark & {
            color: @contrast--dark;
        }
    }
    
    .account-name {
        font-family: @font__p--font-family;
        font-size: @font__p--font-size;
        font-weight: 700;
        letter-spacing: 1px;
    
        &:hover {
            font-weight: 700;
            text-decoration: none!important;
        }
    }
}
    
.tweet-wrap a:hover {
    text-decoration: none;
}

// LINE

.widget__line {
    padding: 0;
    margin-bottom: 40px;
}

hr.rule {
    background-color: @color__primary;
    margin: 0;
    height: 1px;

    .style--light & {
        background-color: @color__primary;
    }

    .style--accent & {
        background-color: @contrast--accent;
    }

    .style--dark & {
        background-color: @contrast--dark;
    }
}

// MAP

.widget.map {
    border: 1px solid @color__primary;
    margin-bottom: 40px;

    .style--light & {
        border-color: @color__primary;
    }

    .style--accent & {
        border-color: @contrast--accent;
    }

    .style--dark & {
        border-color: @contrast--dark;
    }
}
    
// SLIDESHOW

.slides-list {
    padding: 0px;
}

.responsiveslideshow {
    margin-bottom: 40px;

    .slide-navigation {
        position: absolute;
        top: 39%;
        width: 100%;

        @media @tablet-to-desktop {
            top: 30% !important;
        }
    
        @media @tablet {
            top: 32%;
        }
    
        @media @mobile {
            top: 28%;
        }

        .columns-two-left &,
        .columns-two-right & {
            .responsivecolumns & {
                position: absolute;
                top: 32%;

                @media @tablet-to-desktop {
                    top: 27% !important;
                }
        
                @media @mobile-small-to-mobile-portrait {
                    top: 24%!important;
                }
            }
        }
    }

    .contain .figure {
        background-size: cover;
        background-position: center;
        min-height: 650px;
        padding: 0px;

        @media @tablet {
            min-height: 400px;
        }

        @media @tablet-to-desktop {
            min-height: 450px !important;
        }

        @media @mobile-small-to-mobile {
            min-height: 280px !important;
        }

        @media @mobile {
            min-height: 200px !important;
        }

        .columns-two-left &,
        .columns-two-right & {
            .responsivecolumns & {
                @media @tablet-to-desktop {
                    min-height: 300px !important;
                }

                @media @mobile-small-to-mobile {
                    min-height: 200px !important;
                }

                @media @mobile-small-to-mobile-portrait {
                    min-height: 180px !important;
                }
            }
        }
    }
    
    .figure {
        @media @mobile {
            min-height: 200px!important;
        }
    
        @media @mobile-small-to-mobile {
            min-height: 280px!important;
        }

        .columns-two-left &,
        .columns-two-right & {
            @media @tablet {
                min-height: 250px!important;
            }

            .responsivecolumns & {
                @media @tablet-to-desktop {
                    min-height: 240px !important;
                }
            }
        }
    }

    .caption {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 10px 20px;
        background-color: @color__slideshow-background-color;
    
        @media @mobile {
            padding: 3px 20px;
        }
        
        .columns-two-left &,
        .columns-two-right & {
            .responsivecolumns & {
                @media @tablet-to-desktop {
                    padding: 3px 20px;
                }

                @media @mobile-small-to-mobile-portrait {
                    padding: 3px 20px;
                }
            }
        }
    
        .image-title,
        .image-description {
            @media @mobile {
                font-size: 12px;
                line-height: 18px;
            }

            .columns-two-left &,
            .columns-two-right & {
                .responsivecolumns & {
                    @media @tablet-to-desktop {
                        font-size: 12px;
                        line-height: 18px;
                    }
    
                    @media @mobile-small-to-mobile-portrait {
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
            }
        }

        .image-title {
            font-weight: 600;
            text-transform: uppercase;
            color: @color__slideshow-title--text;
        }

        .image-description {
            color: @color__slideshow-description--text;
        }
    }
    
    .image {
        display: none !important;
    }
    
    .pause-toggle,
    .play-toggle.button,
    .previous-button,
    .next-button {
        width: 64px;
        height: 64px;
        line-height: 44px;
        background-color: @color__slideshow-caption--background;
        position: absolute;
        color: @color__slideshow-title--text;

        .style--light &,
        .style--accent &,
        .style--dark &,
        .style--background-image & {
            border-color: @contrast--dark;
        }

        &:before,
        &:after {
            content: none;
            height: auto;
            width: auto;
            border: none;
            position: static;
        }
    
        &:hover,
        &:focus {
            opacity: 0.7;
            background-color: @color__slideshow-caption--background;
            color: @color__slideshow-title--text;
        }

        &:hover:before,
        &:hover:after,
        &:focus:before,
        &:focus:after {
            color: @color__slideshow-title--text;
        }
    }
    
    .previous-button {
        span.control-text {
            display: none;
        }
    
        &:before {
            content: '\f053';
            left: 10px;
        }
    }
    
    .next-button {
        right: 0px;
    
        span.control-text {
            display: none;
        }

        &:after {
            content: '\f054';
        }
    }
    
    .pause-toggle,
    .play-toggle.button {
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        position: relative;
    
        .icon:before {
            margin-right: 0px;
        }
    
        span.control-text {
            display: none;
        }
    
        &:hover {
            opacity: 0.7;
        }
    }

    .play-toggle.button:before {
        content: '\f04c';
    }

    .pause-toggle:before {
        content: '\f04b';
    }
    
    .slide-pagination,
    .pagination-list {
        text-align: center;
        margin: 10px 0;
    }
    
    .pagination-item {
        display: inline-block;
        
        .button {
            background-color: @color__slideshow-pagination-item--background;
            border: 1px solid @color__slideshow-pagination-item--background--selected;
            border-radius: 50%;
            width: 8px!important;
            height: 8px!important;
            margin: 0 4px;
            cursor: pointer;
            padding: 0px!important;
            color: transparent;

            &:before,
            &:after {
                content: none;
            }
        
            .selected {
                background-color: @color__slideshow-pagination-item--background-selected;
                border: none;
                padding: 0px!important;
            }
        }
    
        &.selected .button {
            .style--light & {
                background-color: @color__slideshow-pagination-item--background--selected;
            }
        
            .style--accent & {
                background-color: fade(@contrast--accent, 60%);
            }
        
            .style--dark & {
                background-color: fade(@contrast--dark, 60%);
            }
        }
    }
}

// EMBEDS

.widget.embed .embed-default,
.widget .embed .embed-wrap {
	background: transparent;
	border: none;
	padding: 0;
	text-align: left;
}

.embed-content iframe {
	max-width: 100%;
}

// YOUTUBE

.widget.youtube {
    margin-bottom: 40px;
}

// YELP, SOUNDCLOUD

.widget.soundcloud,
.widget.facebookcomments,
.widget.donation,
.widget.yelpreview {
    margin-bottom: 40px;
}

.widget__yelpreview {
    border: 1px solid @color__primary;
    padding: 15px;

    .style--light & {
        border-color: @color__primary;
    }

    .style--accent & {
        border-color: @contrast--accent;
    }

    .style--dark & {
        border-color: @contrast--dark;
    }

    .yelpreview {
        &__review-article {
            margin-bottom: 15px;
        }

        &__review-list {
            padding-left: 15px;
        }
        
        &__review-title {
            padding: 15px 0px 5px;
        }
        
        &__review-link {
            font-family: @font-swatch4-font-family;
            font-size: 12px;
            color: @color__link--text;
            text-transform: uppercase;
            text-decoration: none;
            padding: 12px 0px;
            border-bottom: 1px solid @color__link--text;
            letter-spacing: 1px;
        
            .style--light & {
                color: @color__link--text;
            }
        
            .style--accent & {
                color: @contrast--accent;
            }
        
            .style--dark & {
                color: @contrast--dark;
            }
        
            &:hover {
                letter-spacing: 1px!important;
                box-shadow: 0 1.5px 0 @color__link--text;
                cursor: pointer;
                .transition (all, 0.2s, ease);
            }
        }
        
        &__review-footer {
            padding-top: 5px;
        }
        
        &__timestamp {
            font-style: italic;
            font-size: 0.8em;
        }
    }
}