{% extends "layout.twig" %}

{% block content %}

<!-- Page Content -->
<section class="page  page--home">

	{% include "includes/hero.twig" %}
    {{widget('gallery', 'gallery1', {'albumRef':0,'showDescription': true,'showTitle': true,'images':[{'imageHeight':'667', 'imageWidth':'667', 'url':asset('/images/gallery/1.jpg'), 'title':'Image  1',  'description': 'This is image 1'},{'imageHeight':'667', 'imageWidth':'667', 'url':asset('/images/gallery/2.jpg'), 'title':'Image  2',  'description': 'This is image 2'},{'imageHeight':'667', 'imageWidth':'667', 'url':asset('/images/gallery/3.jpg'), 'title':'Image  3',  'description': 'This is image 3'},]})|raw}}

	<!-- Zone Content -->
    <div id="main-scroll" class="main-content">
        <div class="container">

            {{zone('main')|raw}}

        </div>
    </div>
</section>

{% endblock %}


{% block bodyscripts %}

<script src="{{asset('js/hero.js')}}"></script>

<!-- Smooth Scroll -->
<script>
    $(document).ready(function(){

        $('a[href*=#]').bind('click', function(e) {
            e.preventDefault();

            var target = $(this).attr("href");

            $('html, body').stop().animate({ scrollTop: $(target).offset().top}, 1000, function() {
                location.hash = target;
            });

            return false;
        });

    });

</script>

{% endblock %}