// HOSTSTAR MNAG TEMPLATE (v2.0)

// LESS Includes

@import "@{templateCommon}/bk-less-framework-v8.less";
@import "@{templateLocal}/less/theme.less";
@import "@{templateLocal}/less/widgets.less";
@import "@{templateLocal}/less/plugins.less";

@tablet-large: ~"only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1)";

// BASEKIT ELEMENTS

.top-level-overlay button.top-level-overlay__delete-button,
.row-overlay__delete-button,
.top-level-overlay button.top-level-overlay__arrangement-button--up,
.row-overlay__arrangement-button--up,
.top-level-overlay button.top-level-overlay__arrangement-button--down,
.row-overlay__arrangement-button--down, .row-overlay__edit-button {
	background: transparent !important;
}

.row-overlay__edit-button {
	background: #fff !important;
}

.is-dropdown-open .row-overlay__edit-button .row-overlay__edit-button-icon,
.is-setting-open .row-overlay__edit-button .row-overlay__edit-button-icon {
	left: auto !important;
    top: auto !important;
}

// Page Container

.container {
	margin: 0 auto;
	max-width: 1500px;
    padding: 0 3%;
    background-color: @color__container--background;
}

.main {
	padding: 40px 0;
}

.iconfill {
    fill: @color__socialicons--icon !important;
}